<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CSS Styling</title>
    <link rel="stylesheet" href="css/basic-css-styles.css">
    <script src="vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h3>CSS Styling</h3>

      <div class="demo" :style="{ 'background-color': color }"></div>
      <div class="demo" :style="myStyle"></div>

      <div class="demo" :style="[myStyle, { height: width + 'px' }]"></div>

      <hr>
      <!-- Using v-model to assign a particular class: -->
      <input type="text" v-model="color">
      <input type="text" v-model="width">

    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          color: 'gray',
          width: 100
        },
        computed: {
          myStyle: function() {
            return {
              'background-color': this.color,
              width: this.width + 'px'
            };
          }
        }
      });
    </script>
  </body>
</html>
